# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform.lock.hcl
crash.log
crash.*.log
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Environment variables
*.tfvars.json
.env

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store
